@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-teritary: var(--teritary);
  --color-teritary-foreground: var(--teritary-foreground);

  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--tertiary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent-1: var(--accent-1);
  --color-accent-2: var(--accent-2);
  --color-accent-3: var(--accent-3);
  --color-accent-4: var(--accent-4);
  --color-accent-5: var(--accent-5);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-sidebar-primary-foreground: 
    var(--sidebar-primary-foreground)
  --color-sidebar-sidebar-accent-foreground: 
    var(--sidebar-accent-foreground)

  --font-Rampart-one: RampartOne, sans-serif;
  --font-Sofia-sans: SofiaSans, sans-serif;
  --font-Ruthie: Ruthie, cursive;
  --font-Red-rose: RedRose, sans-serif;
  --font-Notable: Notable, sans-serif;
  --font-Dosis: Dosis, sans-serif;
  --font-Corinthia: Corinthia, cursive;
  --font-Buda: Buda, serif;
  --font-Bona-nova-sC_Bold: BonaNovaSC_Bold, serif;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  --animate-shine: shine var(--duration) infinite linear;
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;
  --animate-rippling: rippling var(--duration) ease-out;

  --list-style-type-roman: upper-roman;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
  @keyframes shine {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }
  @keyframes rippling {
    0% {
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #070707;
    --card: #FFFFFF;
    --card-foreground: #070707;
    --popover: #FFFFFF;
    --popover-foreground: #070707;
    --primary: #8B2635;
    --primary-foreground: #F8F8F8;
    --secondary: #151515;
    --secondary-foreground: #FFFFFF;
    --teritary: #5f140f;
    --teritary-foreground: #1E1E27;
    --muted: #eaeaea;
    --muted-foreground: #4E4E6E;
    --accent: #e68600;
    --accent-foreground: #1E1E27;
    --destructive: #E6001D;
    --destructive-foreground: #F8F8F8;
    --border: #55111b;
    --input: #2a050a;
    --ring: #1E1E27;
    --radius: 0.5rem;
    --chart-1: #E4005F;
    --chart-2: #00A9A3;
    --chart-3: #4D81C2;
    --chart-4: #5EAF45;
    --chart-5: #6F830B;
    --sidebar-background: #F7F7F7;
    --sidebar-foreground: #4B4B6F;
    --sidebar-primary: #1E1E27;
    --sidebar-primary-foreground: #F8F8F8;
    --sidebar-accent: #D0D4E1;
    --sidebar-accent-foreground: #1E1E27;
    --sidebar-border: #99A6CC;
    --sidebar-ring: #BB58C9;
  }

  .dark {
    --background: #070707;
    --foreground: #F8F8F8;
    --card: #070707;
    --card-foreground: #F8F8F8;
    --popover: #131313;
    --popover-foreground: #F8F8F8;
    --primary: #501E25;
    --primary-foreground: #F8F8F8;
    --secondary: #f8f8f8bc;
    --secondary-foreground: #1E1E27;
    --teritary: #e02012d4;
    --teritary-foreground: #1E1E27;
    --muted: #151515;
    --muted-foreground: #676A80;
    --accent: #5F2029;
    --accent-foreground: #F8F8F8;
    --destructive: #E6001D;
    --destructive-foreground: #F8F8F8;
    --border: #817f7f;
    --input: #893b3b;
    --ring: #B0B3C6;
    --chart-1: #3C4EC9;
    --chart-2: #6B83A3;
    --chart-3: #F67F19;
    --chart-4: #9C6B9C;
    --chart-5: #F06B93;
    --sidebar-background: #070707;
    --sidebar-foreground: #D0D4E1;
    --sidebar-primary: #8D5AA2;
    --sidebar-primary-foreground: #F8F8F8;
    --sidebar-accent: #2A2A3A;
    --sidebar-accent-foreground: #D0D4E1;
    --sidebar-border: #2A2A3A;
    --sidebar-ring: #BB58C9;
  }
}

.bg-dynamic {
  background-color: var(--bg-color);
}

.border-dynamic {
  border: 1px solid var(--border-color);
}

.bg-dynamic:hover {
  background-color: var(--bg-color);
}


.text-dynamic {
  color: var(--text-color);
}

/* 
.bg-\[\$\{color\.bgColor\}\] {
  background-color: ${color.bgColor};
}

.bg-\[\$\{selectedColor\}\] {
  background-color: ${selectedColor};
}
*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
